@model List<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Movie</h3>
@Html.ActionLink("New Movie", "New", "Movies", null,new { @class="btn btn-primary", @style="margin-bottom:10px;" })

<table id="movies" class="table table-bordered">
    <thead>
        <tr>
            <th>Movie </th>
            <th>Genre </th>
            <th>Delete Movies</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc:""
                },
                drawCallback: function (settings) {
                    $("#movies .js-delete").on('click', function () {
                        console.log("hello")
                        //bootbox.alert("hello");
                        bootbox.confirm("Are you sure you want to delete the record?", (result) => {
                            if (result) {
                                const movieId = $(this).data('id');
                                
                                fetch(`/api/movies/${movieId}`, {
                                    method: 'DELETE'

                                }).then(response => {
                                    if (response.ok) {
                                        $(this).parents("tr").remove()
                                    } else {
                                        alert("Server Request Error");

                                    }
                                })
                            }
                        })

                    });
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href ='/movies/edit/" + movie.id + "'>" + movie.name + "</a>"
                        }
                    },
                    {
                        data: "name",
                       
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return `<button data-id=${data} class='btn btn-link js-delete'>Delete</button>`
                        }
                    }
                ]
                
            })

            //$("#movies .js-delete").on('click', function () {

            //    //bootbox.alert("hello");
            //    bootbox.confirm("Are you sure you want to delete the record?", (result) => {
            //        if (result) {
            //                 const movieId = $(this).data('id');
            //            fetch(`/api/movies/${movieId}` , {
            //                    method: 'DELETE'

            //                }).then(response => {
            //                    if (response.ok) {
            //                        $(this).parents("tr").remove()
            //                    } else {
            //                        alert("Server Request Error");

            //                    }
            //                })
            //        }
            //    })

            //});
        });
    </script>
    
}